*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu{
    list-style: none;
}

body{
    background-color: rgb(165, 220, 220);
}

#main-header{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.white-background{
    background-color: white;   
}

.logo, .logo-title{
    vertical-align: middle;
}

.logo-title{
    display: inline-block;
    font-weight: bolder;
}

.main-content{
    margin: auto;
    width: 60%;
}

nav, .container{
    padding-left: 20px;
    padding-right: 20px;
}

nav{
    margin-top: 50px;
    height: 50px;
    padding-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container{
    margin-top: 5px;
    padding-bottom: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.first-input{
    background-color: rgb(16, 115, 209);
    color: white;
    border: none;
}

.second-input{
    color: grey;
    border: 1px solid rgb(166, 163, 163);
}

.size{
    border-radius: 4px;
    font-size: 12px;
    width: 80px;
    height: 25px;    
}

ul, li{
    padding-top: 5px;
}

h2, .menu{
    background-color: transparent;
    border: none;
    display: inline-block;
}


.inside{
    display: inline-block;
    width: 15px;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: x-small;
}

.present{
    border: 1.5px solid rgb(12, 212, 12);
    color: rgb(12, 212, 12);
}

.absent{
    color: rgb(212, 12, 12);
    border: 1.5px solid rgb(212, 12, 12);
}

.tag{
    display: inline-block;
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    width: 60px;
    height: 20px;
    color: white;
}

.blue{
    background-color: rgb(33, 155, 225);
}

.violet{
    background-color: blueviolet;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.brown{
    background-color: brown;
}

.lightgreen{
    background-color: rgb(75, 191, 75);
}